USE [Data]
GO
/****** Object:  StoredProcedure [dbo].[spSel_getKeyWordSearchCommunity]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[spSel_getKeyWordSearchCommunity]
GO
/****** Object:  StoredProcedure [dbo].[GetTotalByStateId]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[GetTotalByStateId]
GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchTask]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[getKeyWordSearchTask]
GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchDepartment]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[getKeyWordSearchDepartment]
GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchAssigneeTask]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[getKeyWordSearchAssigneeTask]
GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchAssignee]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[getKeyWordSearchAssignee]
GO
/****** Object:  StoredProcedure [dbo].[GetAll]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP PROCEDURE [dbo].[GetAll]
GO
ALTER TABLE [dbo].[Reports] DROP CONSTRAINT [R_S]
GO
ALTER TABLE [dbo].[AssigneeTasks] DROP CONSTRAINT [FK_ATS]
GO
ALTER TABLE [dbo].[AssigneeTasks] DROP CONSTRAINT [AT_T]
GO
ALTER TABLE [dbo].[AssigneeTasks] DROP CONSTRAINT [AT_A]
GO
ALTER TABLE [dbo].[AssigneeDepartments] DROP CONSTRAINT [AD_D]
GO
ALTER TABLE [dbo].[AssigneeDepartments] DROP CONSTRAINT [AD_A]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[Tasks]
GO
/****** Object:  Table [dbo].[States]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[States]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[Reports]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[AssigneeTasks]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[AssigneeTasks]
GO
/****** Object:  Table [dbo].[Assignees]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[Assignees]
GO
/****** Object:  Table [dbo].[AssigneeDepartments]    Script Date: 09-Nov-20 10:11:42 PM ******/
DROP TABLE [dbo].[AssigneeDepartments]
GO
/****** Object:  Table [dbo].[AssigneeDepartments]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssigneeDepartments](
	[AssigneeId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_AssigneeDepartments] PRIMARY KEY CLUSTERED 
(
	[AssigneeId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Assignees]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignees](
	[AssigneeId] [int] NOT NULL,
	[AssigneeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Assignees] PRIMARY KEY CLUSTERED 
(
	[AssigneeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssigneeTasks]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssigneeTasks](
	[AssigneeTaskId] [int] NOT NULL,
	[AssigneeId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[Schedule] [datetime] NULL,
 CONSTRAINT [AT_st] PRIMARY KEY CLUSTERED 
(
	[AssigneeTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] NOT NULL,
	[DepartmentName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reports]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[StateId] [int] NOT NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Reports_1] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] NOT NULL,
	[StateName] [nvarchar](50) NULL,
 CONSTRAINT [AS_st] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] NOT NULL,
	[TaskName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AssigneeDepartments] ([AssigneeId], [DepartmentId]) VALUES (1, 1)
INSERT [dbo].[AssigneeDepartments] ([AssigneeId], [DepartmentId]) VALUES (2, 1)
INSERT [dbo].[AssigneeDepartments] ([AssigneeId], [DepartmentId]) VALUES (3, 1)
INSERT [dbo].[Assignees] ([AssigneeId], [AssigneeName]) VALUES (1, N'WOAO2820200049-Trần Văn B')
INSERT [dbo].[Assignees] ([AssigneeId], [AssigneeName]) VALUES (2, N'WOAO2820200008-Nguyễn Thị A')
INSERT [dbo].[Assignees] ([AssigneeId], [AssigneeName]) VALUES (3, N'WOAO2820200012-Vũ Thị S')
INSERT [dbo].[AssigneeTasks] ([AssigneeTaskId], [AssigneeId], [TaskId], [StateId], [Schedule]) VALUES (1, 1, 55, 4, CAST(N'2020-10-10 00:00:00.000' AS DateTime))
INSERT [dbo].[AssigneeTasks] ([AssigneeTaskId], [AssigneeId], [TaskId], [StateId], [Schedule]) VALUES (2, 1, 56, 4, CAST(N'2020-10-10 00:00:00.000' AS DateTime))
INSERT [dbo].[AssigneeTasks] ([AssigneeTaskId], [AssigneeId], [TaskId], [StateId], [Schedule]) VALUES (3, 1, 43, 4, CAST(N'2020-10-10 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'Cleaning')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (2, N'Technical')
INSERT [dbo].[Reports] ([StateId], [Total]) VALUES (2, 75)
INSERT [dbo].[Reports] ([StateId], [Total]) VALUES (3, 319)
INSERT [dbo].[Reports] ([StateId], [Total]) VALUES (4, 1130)
INSERT [dbo].[States] ([StateId], [StateName]) VALUES (1, N'ToDo')
INSERT [dbo].[States] ([StateId], [StateName]) VALUES (2, N'Processing')
INSERT [dbo].[States] ([StateId], [StateName]) VALUES (3, N'TimeOut')
INSERT [dbo].[Tasks] ([TaskId], [TaskName]) VALUES (1, N'THN29')
INSERT [dbo].[Tasks] ([TaskId], [TaskName]) VALUES (2, N'THN30')
INSERT [dbo].[Tasks] ([TaskId], [TaskName]) VALUES (3, N'THN31')
GO
ALTER TABLE [dbo].[AssigneeDepartments]  WITH CHECK ADD  CONSTRAINT [AD_A] FOREIGN KEY([AssigneeId])
REFERENCES [dbo].[Assignees] ([AssigneeId])
GO
ALTER TABLE [dbo].[AssigneeDepartments] CHECK CONSTRAINT [AD_A]
GO
ALTER TABLE [dbo].[AssigneeDepartments]  WITH CHECK ADD  CONSTRAINT [AD_D] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[AssigneeDepartments] CHECK CONSTRAINT [AD_D]
GO
ALTER TABLE [dbo].[AssigneeTasks]  WITH CHECK ADD  CONSTRAINT [AT_A] FOREIGN KEY([AssigneeId])
REFERENCES [dbo].[Assignees] ([AssigneeId])
GO
ALTER TABLE [dbo].[AssigneeTasks] CHECK CONSTRAINT [AT_A]
GO
ALTER TABLE [dbo].[AssigneeTasks]  WITH CHECK ADD  CONSTRAINT [AT_T] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
GO
ALTER TABLE [dbo].[AssigneeTasks] CHECK CONSTRAINT [AT_T]
GO
ALTER TABLE [dbo].[AssigneeTasks]  WITH CHECK ADD  CONSTRAINT [FK_ATS] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[AssigneeTasks] CHECK CONSTRAINT [FK_ATS]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [R_S] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [R_S]
GO
/****** Object:  StoredProcedure [dbo].[GetAll]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec GetAll 50,1
-- =============================================
CREATE PROCEDURE [dbo].[GetAll]
	-- Add the parameters for the stored procedure here
	@page int = null,
	@size int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Declare
	declare @start int = (@page-1)*@size +1;
	declare @end int =@page * @size;
    -- Insert statements for procedure here
	with s as(
	select ROW_NUMBER () over (Order by AssigneeTaskId) as STT, Assignees.AssigneeName, States.StateName, Tasks.TaskName, AssigneeTasks.Schedule 
		FROM (((AssigneeTasks
		INNER JOIN Assignees ON AssigneeTasks.AssigneeId = Assignees.AssigneeId)
		INNER JOIN States ON AssigneeTasks.StateId = States.StateId)
		INNER JOIN Tasks ON AssigneeTasks.TaskId = Tasks.TaskId))
	select * from s
	where STT>= @start and STT <=@end
END
GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchAssignee]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: 2020-24-06
-- Description:	Nhap tu khoa de kiem Id theo Assignee. co phan trang
-- Run: exec getKeyWordSearchAssignee '',1,10
-- select * from Assignees
-- =============================================
CREATE PROCEDURE [dbo].[getKeyWordSearchAssignee]
	-- Add the parameters for the stored procedure here
	@key nvarchar(max) = null,
	@page int = null,
	@size int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @start int = (@page-1)*@size+1;
	declare @end int = @page*@size;
	with s as
	(
		select ROW_NUMBER () over (order by AssigneeId asc) as STT, *
		from Assignees
		where (AssigneeName like N'%' +@key + '%')
	)
	select *
	from s
	where STT >=@start and STT <= @end
END

GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchAssigneeTask]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: 2020-24-06
-- Description:	Nhap tu khoa de kiem Id theo Assignee. co phan trang
-- Run: exec getKeyWordSearchAssigneeTask '',1,10
-- select * from Assignees
-- =============================================
CREATE PROCEDURE [dbo].[getKeyWordSearchAssigneeTask]
	-- Add the parameters for the stored procedure here
	@key nvarchar(max) = null,
	@page int = null,
	@size int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @start int = (@page-1)*@size+1;
	declare @end int = @page*@size;
	with s as
	(
		select ROW_NUMBER () over (order by AssigneeId asc) as STT, *
		from AssigneeTasks
		where (AssigneeId like N'%' +@key + '%' or TaskId like N'%' +@key +'%' or Schedule like N'%' +@key +'%')
	)
	select *
	from s
	where STT >=@start and STT <= @end
END

GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchDepartment]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: 2020-24-06
-- Description:	Nhap tu khoa de kiem Id theo Assignee. co phan trang
-- Run: exec getKeyWordSearchTask '',1,10
-- select * from Assignees
-- =============================================
CREATE PROCEDURE [dbo].[getKeyWordSearchDepartment]
	-- Add the parameters for the stored procedure here
	@key nvarchar(max) = null,
	@page int = null,
	@size int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @start int = (@page-1)*@size+1;
	declare @end int = @page*@size;
	with s as
	(
		select ROW_NUMBER () over (order by DepartmentId asc) as STT, *
		from Departments
		where (DepartmentName like N'%' +@key + '%')
	)
	select *
	from s
	where STT >=@start and STT <= @end
END

GO
/****** Object:  StoredProcedure [dbo].[getKeyWordSearchTask]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: 2020-24-06
-- Description:	Nhap tu khoa de kiem Id theo Assignee. co phan trang
-- Run: exec getKeyWordSearchTask '',1,10
-- select * from Assignees
-- =============================================
CREATE PROCEDURE [dbo].[getKeyWordSearchTask]
	-- Add the parameters for the stored procedure here
	@key nvarchar(max) = null,
	@page int = null,
	@size int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @start int = (@page-1)*@size+1;
	declare @end int = @page*@size;
	with s as
	(
		select ROW_NUMBER () over (order by TaskId asc) as STT, *
		from Tasks
		where (TaskName like N'%' +@key + '%')
	)
	select *
	from s
	where STT >=@start and STT <= @end
END

GO
/****** Object:  StoredProcedure [dbo].[GetTotalByStateId]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec GetTotalByStateId
-- =============================================
Create PROCEDURE [dbo].[GetTotalByStateId]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		select *
		From Reports 
END

GO
/****** Object:  StoredProcedure [dbo].[spSel_getKeyWordSearchCommunity]    Script Date: 09-Nov-20 10:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: 2020-24-06
-- Description:	Nhap tu khoa de kiem Id theo Assignee. co phan trang
-- Run: exec spSel_getKeyWordSearchCommunity 'HC20000000006',1,10
-- =============================================
CREATE PROCEDURE [dbo].[spSel_getKeyWordSearchCommunity]
	-- Add the parameters for the stored procedure here
	@key nvarchar(30) =null,
	@page int = null,
	@size int =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @start int = (@page-1)*@size+1;
	declare @end int = @page*@size;
	with s as
	(
		select ROW_NUMBER () over (order by Id asc) as STT, *
		from Communities
		where (Assignee like '%'  +@key+'%' or TaskName like '%'  +@key+'%' or TaskState like '%'  +@key+'%' )
	)
	select *
	from s
	where STT >=@start and STT <= @end
END

GO
