
<h1 id="tableLabel">ASSIGNEETASKS</h1>

<p *ngIf="!AssigneeTasks"><em>Loading...</em></p>

<button class="btn btn-primary" (click)="openModal(true,null)">Add New AssigneeTask</button>
<hr />
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">AssigneeName</th>
      <th scope="col">StateName</th>
      <th scope="col">TaskName</th>
      <th scope="col">Schedule</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assigneeTask of AssigneeTasks.data">
      <td>{{ assigneeTask.assigneeTaskId }}</td>
      <td>{{ assigneeTask.assigneeName }}</td>
      <td>{{ assigneeTask.stateName }}</td>
      <td>{{ assigneeTask.taskName }}</td>
      <td>{{ assigneeTask.schedule }}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="openModalEdit(false,assigneeTask)">
          Edit
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteAssigneeTask(assigneeTask.assigneeTaskId)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        aria-label="Previous"
        href="javascript:void(0);"
        (click)="Previous()"
      >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link">{{ AssigneeTasks.page }}</a>
    </li>
    <li class="page-item">
      <a class="page-link">{{ AssigneeTasks.page + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link">{{ AssigneeTasks.page + 2 }}</a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        aria-label="Next"
        href="javascript:void(0);"
        (click)="Next()"
      >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">
          Add New AssigneeTask
        </h5>
        <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">
          Update AssigneeTask
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">AssigneeTask Id</div>
          <div class="col-8">
            <input
              class="form-control"
              type="number"
              [(ngModel)]="AssigneeTask.assigneeTaskId"
              required name="atid"
              #atid="ngModel"
              ngModel
            />
            <div *ngIf="atid.errors && (atid.dirty || atid.touched)" class="alert alert-danger">
              <div [hidden]="!atid.errors.required">
                Id is required
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="SelectCountry" >Assignee Id</label>
            <select class="form-control" [(ngModel)]="selectedOptionAI" (ngModelChange)="onValueChangedAI($event)" required  name="assign" #assign="ngModel">
              <option [ngValue]="undefined" disabled>Select An Option</option>
              <option *ngFor="let assignee of Assignees.data" [ngValue]="assignee.assigneeId">{{assignee.assigneeName}}</option>
            </select>
        </div>
        <br />
       <div class="form-group">
          <label for="SelectCountry" >State Id</label>
            <select class="form-control" [(ngModel)]="selectedOptionSI" (ngModelChange)="onValueChangedSI($event)" required  name="ai" #ai="ngModel">
              <option [ngValue]="undefined" disabled>Select An Option</option>
              <option *ngFor="let state of States.data" [ngValue]="state.stateId">{{state.stateName}}</option>
            </select>
        </div>
        <br />
        <div class="form-group">
          <label for="SelectCountry" >Task Id</label>
            <select class="form-control" [(ngModel)]="selectedOptionTI" (ngModelChange)="onValueChangedTI($event)" required  name="ti" #ti="ngModel">
              <option [ngValue]="undefined" disabled>Select An Option</option>
              <option *ngFor="let task of Tasks.data" [ngValue]="task.taskId">{{task.taskName}}</option>
            </select>
        </div>
        <br />
       <div class="row">
          <div class="col-4">Schedule</div>
          <div class="col-8">
    
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker"  [(ngModel)]="selectedOptionSch" (ngModelChange)="onValueChangedSch($event)" required name="se" #se="ngModel">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> 

         
          </div>
        </div>
        <br /> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button [disabled]=" !atid.valid || !assign.valid || !ai.valid || !ti.valid || !se.valid"  type="button" class="btn btn-success" (click)="addAssigneeTask()">
          Add 
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">
          Add New Assignee
        </h5>
        <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">
          Update Assignee
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">AssigneeTask Id</div>
          <div class="col-8">
            <input
            disabled
              class="form-control"
              type="number"
              [(ngModel)]="AssigneeTask.assigneeTaskId"
            />
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="SelectCountry" >Assignee Id</label>
            <select class="form-control" [(ngModel)]="selectedOptionAI" (ngModelChange)="onValueChangedAI($event)" required  name="uassign" #uassign="ngModel">
              <option [ngValue]="undefined" disabled>Select An Option</option>
              <option *ngFor="let assignee of Assignees.data" [ngValue]="assignee.assigneeId">{{assignee.assigneeName}}</option>
            </select>
        </div>
        <br />
       <div class="form-group">
          <label for="SelectCountry" >State Id</label>
            <select class="form-control" [(ngModel)]="selectedOptionSI" (ngModelChange)="onValueChangedSI($event)" required  name="uai" #uai="ngModel">
              <option [ngValue]="undefined" disabled>Select An Option</option>
              <option *ngFor="let state of States.data" [ngValue]="state.stateId">{{state.stateName}}</option>
            </select>
        </div>
        <br />
        <div class="form-group">
          <label for="SelectCountry" >Task Id</label>
            <select class="form-control" [(ngModel)]="selectedOptionTI" (ngModelChange)="onValueChangedTI($event)" required  name="uti" #uti="ngModel">
              <option [ngValue]="undefined" disabled>Select An Option</option>
              <option *ngFor="let task of Tasks.data" [ngValue]="task.taskId">{{task.taskName}}</option>
            </select>
        </div>
        <br />
       <div class="row">
          <div class="col-4">Schedule</div>
          <div class="col-8">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="upicker" [(ngModel)]="uselectedOptionSch" (ngModelChange)="uonValueChangedSch($event)" required name="use" #use='ngModel'>
              <mat-datepicker-toggle matSuffix [for]="upicker"></mat-datepicker-toggle>
              <mat-datepicker #upicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <br /> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateAssigneeTask(AssigneeTask.assigneeTaskId)"
          [disabled]="!use.valid || !uassign.valid  || !uti.valid || !uai.valid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

  


